body, html{
    background-color: rgb(7, 14, 34);
    color: rgb(233, 214, 40);
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(176, 17, 12);
    height: 4em;
    width: 100%;
    margin-top: 1em;
}
#about-list ul{
    box-sizing: border-box;
    display: inline;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: auto;
}
#about-list li{
    display: inline;
    text-align: center;
    font-size: 15px;
    padding: 2vw;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}
