body{
}
main{
	background-color: rgb(208, 208, 209);
	border-radius: 15px;
	font-family: 'Courgette', cursive;
}
#title{
	text-align: center;
}
p{
	text-align: center;
	font-size: 30px;
}
.topo{
	display: grid;
}
