body{
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	align-items: center;
	text-align: center;
}
main{
	background-color: rgb(231, 231, 231);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-family: 'Courgette', cursive;
	width: 100%;
	height: auto;
}
#topo{
	padding-top: 20px;
	text-align: justify;
}
p{
	font-size: 30px;
}
#img-div{
	padding: 20px 20px 30px 20px;
	background: rgb(255, 255, 255);
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}
#image{
	max-width: 100%;
	height: auto;
}
#img-caption{
	font-size: 10px;
	text-align: justify;
}
