html, body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 238, 249);
}
#main-doc{
    display: inherit;
    margin: auto;
    height: auto;
    width: 100%;
}
#nav-bar{
    display: block;
    width: 150em;
    max-height: 100%;
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: auto;
    overflow: scroll;
    border-right: 3px solid rgb(105, 105, 105);
}
#nav-bar header{
    display: inherit;
    text-align: center;
    font-size: 15px;
}
.content-container{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.main-section{
    width: 90%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
    max-height: 100%;
}
