html, body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 238, 249);
}
#main-doc{
    display: inherit;
    margin: auto;
    height: auto;
    width: 100%;
}
#nav-bar{
    display: block;
    width: 180em;
    max-height: 100%;
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: scroll;
    border-right: 3px solid rgb(101, 101, 101);
}
#nav-bar header{
    display: inherit;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    font-weight:  bolder;
    color: rgb(33, 34, 34);
}
#nav-bar ul{
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
}
#nav-bar li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
    line-height: 2;
    border-top: 1px solid rgb(33, 34, 34);
    border-bottom: 1px solid rgb(33, 34, 34);
}
#nav-bar a{
    text-decoration: none;
    color: rgb(101, 101, 101);
}
.content-container{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.main-section{
    width: 90%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
    max-height: 100%;
}
