html, body{
    margin: 0;
    width: 100%;
    max-height: auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Milonga', cursive;
}
header{
    font-weight: bold;
    font-size: 20px;
}
#nav-bar{
    display: block;
    position: static;
    width: 20%;
    padding: 4px;
    height: auto;
    margin-left: 0;
    margin-right: auto;
    border-right: 4px solid rgb(51, 51, 51);
}
#nav-bar header{
    display: inherit;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    margin-left: 3em;
    margin-right:0.8em;
    border-bottom: 1px solid rgb(33, 34, 34);
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#nav-bar ul{
    margin-top: 1em;
    margin-left: 0;
    width: auto;
    height: auto;
}
#nav-bar li{
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
    line-height: 2;
    border-bottom: 1px solid rgb(33, 34, 34);
}
#nav-bar a{
    font-size: 17px;
    text-align: justify;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.content-container{
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    width: 70%;
    text-align: justify;
    margin-left: 20em;
    margin-top: -30em;
    margin-right: 0;
}
.main-section{
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
    height: auto;
    overflow-y: scroll;
}
footer{
    display: inline-flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    align-items: center;
    background-color: rgb(241, 23, 23);
    width: 100%;
    height: 3em;
    margin: auto;
}
footer a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    margin: auto;
    width: auto;
}
