html, body{
    background-image: url(../imgs/night_fly.jpg);
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    background-size: cover;
    display: block;
    font-size: 15px;
}
header{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 15px;
    background-color: rgb(67, 69, 70);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid rgb(177, 91, 212);
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    font-size: 15px;
    color: rgb(224, 189, 4);
    text-align:  center;
}
#title{
    text-align: inherit;
}
#description{
    text-align: inherit;
}
div{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 100%;
    height: auto;
    padding: 15px 15px 15px 15px;
}
#survey-form{
    box-sizing: border-box;
    background-color: rgb(46, 44, 47);
    opacity: 0.85;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid rgb(105, 107, 108);
    border-style: groove;
    width: 40%;
    height: auto;
    padding: 15px 15px 15px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
}
.form-group{
    box-sizing: border-box;
    align-self: center;
    padding: 20px 15px 15px 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-weight: bold;
    color: rgb(192, 188, 195);
    border-radius: 4px;
}
.availability-group{
    display: inline;
}
.notifications{
    display: inline;
}
.submit-form{
    display: block;
    font-weight: bold;
    font-size: 10px;
}

@media(max-width:600px){
    html, body, div{
        display: block;
        box-sizing: border-box;
        font-size: 12px;
        margin-top: 0;
        max-width: 100%;
        height: 100%;
        background-size: cover;
    }
    header{
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        font-size: 9px;
        width: 100%;
        padding: 15px 15px 15px 15px;
    }
    #survey-form{
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 0px 0px 0px;
    }
    .form-group{
        display: inline-grid;
        box-sizing: border-box;
        padding: 10px 10px 10px 10px;
        height: auto;
        text-align: left;
    }
    .availability-group{
        display: inline;
        box-sizing: border-box;
    }
    .notifications{
        display: inline;
        box-sizing: border-box;
        text-align: left;
        width: 100%;
        height: auto;
        margin: 2px;
        margin-left: auto;
    }
    .comments{
        display: inline;
        box-sizing: border-box;
        text-align: left;
        width:100%;
        height: auto;
    }
}
