html, body{
    font-family: 'Buda', cursive;
}
#header{
    top: 0px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    height: auto;
    background-color: rgb(255, 255, 255);
}
#nav-bar{
    display: flex;
    padding: 5vw 5vw 5vw 5vw;
}
.form-group{
    width: 100%;
    height: auto;
}
header li{
    display: inline-flex;
    text-align: right;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
header ul{
    ali
}

a{
    width: 100%;
    height: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
